.name-header {
  text-align: center;
}

.orders-container {
  margin: 0 auto;
  width: 650px;
}

.incomplete-orders {
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.complete-orders {
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.open-work-orders {
  display: inline-block;
  float: left;
}

.employees {
  display: inline-block;
}
