.edit-form-container {
  width: 500px;
  margin: 0 auto;
}

.edit-form-container h1 {
  text-align: center;
}

.edit-form-container input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccddff;
  border-radius: 4px;
  background-color: #f8f8f8;
}

input[type=submit] {
    padding:5px 15px;
    background:#668cff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 700;
}

textarea.text {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccddff;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.revenue {
  font-size: 15px;
  font-weight: 700;
  color: #216C2A;
}
