<img src="">
<h1 class="company-title">Krystal Klear <section id="company-subtitle">Window Cleaning Services</section></h1>

<% if current_user && current_user.admin? %>

<nav>
  <ul>
    <li><%= link_to "Home", user_path(current_user) %></li>
    <li>|</li>
    <li><%= link_to "Employees", users_path %></li>
    <li>|</li>
    <li><%= link_to "Clients", clients_path %></li>
    <li>|</li>
    <li><%= link_to "Routes", routes_path %></li>
  </ul>
</nav>

<% end %>
